*{
    font-style: italic;
}
.bod{
    display: flex;
}
body {
    background:rgb(31, 13, 27);
    align-items: center;
}
.im {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.header {
    overflow: hidden;
    padding: 20px 10px;
    display: inline;
}
.right a {
    float:left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    color: white;

}
.right{
    float: right;
}
.up input::-webkit-file-upload-button{
    visibility: hidden;
}
#in{
    content: none;
    cursor: pointer;
    width: 300px;
    height: 240px;
    margin-top: 20px;
    
}
.up {
    margin-left: 500px;
    margin-top: 80px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

#send{
    
    font-weight: bolder;
    font-size: 25px;
    

}
.down {
    font-weight: bolder;
    font-size: 25px;

    margin-left: 500px;
    margin-top: 175px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 20px;

}
.down input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25px;
    text-decoration: solid;
    font-weight: bolder;
    border-style:double;
    
}
.down input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: o;
}
.down button{
    margin-top: 15px;
    margin-left: 100px;
    font-weight: bold;
    border-style: double;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}
#Receive {
    margin-top: 10px;
}